<h1>Home</h1>
<p>ini halaman home Universitas MDP</p>

<!-- Berita -->
<div class="row">
<% news.forEach(item => { %>
    <div class="col-lg-6 mb-3">
        <h2><%= item.title %></h2>
        <p><%= item.content %></p>
        <a href="" class="btn btn-primary btn-sm">Detil</a>
    </div>
<% }) %>
</div>